<a href="https://colab.research.google.com/github/ycha94/codetest/blob/master/ycha_20200218.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
sys.version_info

sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

In [2]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   29G   74G  28% /
tmpfs            64M     0   64M   0% /dev
tmpfs           6.4G     0  6.4G   0% /sys/fs/cgroup
tmpfs           6.4G  8.0K  6.4G   1% /var/colab
/dev/sda1       114G   30G   85G  27% /etc/hosts
shm             6.0G  4.0K  6.0G   1% /dev/shm
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware

In [3]:
!cat /proc/meminfo

MemTotal:       13335188 kB
MemFree:        10822772 kB
MemAvailable:   12509352 kB
Buffers:           72804 kB
Cached:          1771828 kB
SwapCached:            0 kB
Active:           695780 kB
Inactive:        1572968 kB
Active(anon):     402220 kB
Inactive(anon):      316 kB
Active(file):     293560 kB
Inactive(file):  1572652 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               316 kB
Writeback:             0 kB
AnonPages:        424076 kB
Mapped:           216436 kB
Shmem:               848 kB
Slab:             153468 kB
SReclaimable:     122720 kB
SUnreclaim:        30748 kB
KernelStack:        3488 kB
PageTables:         5404 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6667592 kB
Committed_AS:    2735500 kB
VmallocTotal:   34359738367 kB
VmallocUsed:           0 kB
VmallocChunk:          0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
DirectMap4k:       63476 kB
DirectMap2M:     6227968 kB
DirectMap1G:     9437184 kB

In [4]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2300.000
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs
bogomips	: 4600.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [5]:
import torch
print(torch.__version__)

1.4.0

In [6]:
import tensorflow
print(tensorflow.__version__)

1.15.0

Data Frame Masking

In [31]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1,25, (5, 5)), index=[0,1,2,3,4], columns=["A", "B", "C", "D", "F"])
print(df) #print for data frame
print(df["A"] <=5)
#print(df.query("A <=5 and B <=8"))

    A   B   C   D   F
0   1  12  16   5   1
1  17  16   2  10  10
2  23  17  12  14  12
3  20  22   1   7  18
4   2   5  24  14  17
0     True
1    False
2    False
3    False
4     True
Name: A, dtype: bool

PANDAS

In [33]:
import pandas as pd

array = pd.Series(['Apple', 'Banana', 'Carrot'], index=['a','b','c'])

print(array['b'])

Banana

In [34]:
import pandas as pd

dict = {
    'a': 'Apple',
    'b': 'Banana',
    'c': 'Carrot'
}
array = pd.Series(dict)
print(array['a'])

Apple

In [39]:
import pandas as pd

word_dict = {
    'Apple': 'AAA',
    'Banana': 'BBB',
    'Carrot': 'CCC'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

word = pd.Series(word_dict)
frequency = pd.Series(frequent_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency
})

print(summary)

       word  frequency
Apple   AAA          3
Banana  BBB          5
Carrot  CCC          7

ycha_20200219

In [3]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근',
    'Durian': '두리안'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7,
    'Durian': 2
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1,
    'Durian': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

print(summary)
print(summary.loc['Banana':'Carrot', 'importance':])
print(summary.iloc[1:3, 2:])

       word  frequency  importance
Apple    사과          3           3
Banana  바나나          5           2
Carrot   당근          7           1
Durian  두리안          2           1
        importance
Banana           2
Carrot           1
        importance
Banana           2
Carrot           1

In [11]:
import pandas as pd
import numpy as np

dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4),
                          index=dates, columns=['A',  'B',  'C',  'D'])
df

                   A         B         C         D
2000-01-01 -0.068784 -1.170632 -0.238127 -2.190186
2000-01-02 -0.169698 -0.169869  0.741024 -0.460418
2000-01-03  0.129067 -0.292968  0.316829  0.697955
2000-01-04 -0.126754  0.406021  0.055326 -0.949620
2000-01-05  1.641721  0.060765  0.567669 -0.098675
2000-01-06  1.516984 -0.571486  0.192723  2.482658
2000-01-07  0.018454  0.957380  0.250982  0.213190
2000-01-08  1.573258  0.602373 -0.032395  0.868018

In [15]:
from pandas import Series, DataFrame

daeshin = {'open':  [11650, 11100, 11200, 11100, 11000],
           'high':  [12100, 11800, 11200, 11100, 11150],
           'low' :  [11600, 11050, 10900, 10950, 10900],
           'close': [11900, 11600, 11000, 11100, 11050]}

daeshin_day = DataFrame(daeshin)
print(daeshin_day)
daeshin_day

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [22]:
import numpy as np
a = np.arange(15).reshape(3, 5)

a.shape

(3, 5)

In [1]:
from IPython.display import display
import numpy as np
import pandas as pd

#my_2darray = np.array([[1,2,3],[4,5,6]])
#display(pd.DataFrame(my_2darray))

#my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
#display(pd.DataFrame(my_dict))
#df = pd.DataFrame(my_dict)
#df

#my_df = pd.DataFrame(data=[4,5,6,7,8], index=range(0,5), columns=['A'])
#display(pd.DataFrame(my_df))
#my_df

my_series = pd.Series({"UK":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
#display(pd.DataFrame(my_series))
df = pd.DataFrame(my_series)
df

                        0
UK                 London
India           New Delhi
United States  Washington
Belgium          Brussels

In [16]:
import numpy as np
import pandas as pd

sdata = {"KIM":222, "CHO":333, "PARK":111, "NNN":555}
aaa = pd.Series(sdata)
aaa.name = "Family"
aaa.index.name = "Name"
aaa.index = ["AAA","BBB","CCC","DDD"]
#aaa = pd.Series([4,7,-5,3], index=["a", "b", "c", "d"])
#aaa.values
#aaa.index
#aaa.dtypes
#aaa
display(pd.DataFrame(aaa))

     Family
AAA     222
BBB     333
CCC     111
DDD     555

In [25]:
data = {"name": ["kilho","kilho","kilho","Charles","Charles"],
          "year": [2014, 2015, 2016, 2015, 2016],
          "points": [1.5, 1.7, 3.6, 2.4, 2.9]
        }
df = pd.DataFrame(data)

df.index.name = "Num"
df.columns.name = "Info"
df.describe()

Info         year    points
count     5.00000  5.000000
mean   2015.20000  2.420000
std       0.83666  0.864292
min    2014.00000  1.500000
25%    2015.00000  1.700000
50%    2015.00000  2.400000
75%    2016.00000  2.900000
max    2016.00000  3.600000

20200221